@page
@model DemoWipro1.Pages.WiproModel
@{
    ViewData["Company"] = "Wipro";
    ViewData["Name"] = "Nandini";
}

<p>Company name is :<b>@ViewData["Company"]</b></p>
<p>Employee name is :<b>@ViewData["Name"]</b></p>
